.container{
    margin-top: 100px;
}
.row{
    background-color: lightsteelblue;
    padding: 10px;
}
.user-list{
    font-size: 12px;
    color: darkred;
}
.bg1{
    background-color: lightblue;
}.bg2{
    background-color: lightyellow;
}.bg3{
    background-color: lightgreen;
}
.col{
    border: 1px solid green;
    min-height: 150px;
}
.smallerText{
    font-size: small;
}
.long{
    width: 100%;
}
.userAdded{
    color: #721c24;
    font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.grey{
    color: #4e555b;
}

/* CSS slider */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
form input[type="text"] {
    width: 90px;
}
#billamt {
    font-size: 14px;
    /*color: #2980b9;*/
    color: #red;
    background-color: #f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
}
#billamt:focus {
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}
#peopleamt {
    width: 60%;
    padding: 5px 5px 8px 8px;
    margin-left: 20px;
    color: #red;
    background-color: #f7f7f7;
    font-size: 14px;
}
.dollarSign {
    display: inline;
}
#serviceQual {
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 25px;
}
#totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}
#totalTip:before {
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}
#totalTip sup {
    font-size: 20px;
    top: -18px;
}
#totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
}
#containerCalculator {
    height: 625px;
    width: 420px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
#calculate {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #AD133A;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}
#calculate:hover {
    background: #4c2827;
    border-bottom-color: #111;
}
#calculate:active {
    position: relative;
    top: 1px;
}