.container{
    margin-top: 100px;
}
.row{
    background-color: lightsteelblue;
    padding: 10px;
}
.user-list{
    font-size: 12px;
    color: darkred;
}
.bg1{
    background-color: lightblue;
}.bg2{
    background-color: lightyellow;
}.bg3{
    background-color: lightgreen;
}
.col{
    border: 1px solid green;
    min-height: 150px;
}
.smallerText{
    font-size: small;
}
.long{
    width: 100%;
}
.userAdded{
    color: #721c24;
    font-weight: bold;
}