/* ==========================================================================
   LESS
   ========================================================================== */
body {
  font-family: 'PT Sans', sans-serif;
}
.body {
  margin-top: 10px;
  padding-bottom: 80px;
}
h1 {
  color: #062c33;
  font-weight: bolder;
  margin: 40px 0px 5px 105px;
}
ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}
/* change nav background color */
.nav-custom {
  background-color: #062c33;
  font-size: 18px;
}
/* change the color of active or hovered links */
.nav-item,
.nav-link {
  color: yellow !important;
}
.nav-item.active .nav-link {
  color: white !important;
}
.nav-item:focus .nav-link,
.nav-item:hover .nav-link {
  color: white !important;
}
/* my header style */
.header {
  background-image: url("../assets/img/img_header.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/* text on header */
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.6);
}
.description {
  font-family: Luminari;
  font-size: 24px;
  text-align: left;
  text-shadow: 2px 1px lightgray;
  max-width: 900px;
  height: auto;
  padding: 1em;
  position: absolute;
  margin-top: 70px;
  line-height: 2.5em;
}
.description span {
  font-family: Georgia;
  font-size: 18px;
}
.description h1 {
  font-family: Luminari;
  font-size: 54px;
  margin-left: 40px;
}
/* custom button */
.custom-btn {
  background-color: #062c33;
  border: 1px solid lemonchiffon;
  color: white;
}
.custom-btn:hover {
  background-color: yellow;
  border: 2px dotted red;
  color: black;
  font-weight: bolder;
}
/* footer style */
.footer {
  background-color: #062c33;
  height: 30px;
  line-height: 30px;
}
.copyright {
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 60px;
}
/* image profile custom */
.centered-and-cropped {
  object-fit: cover;
}
.image-portret {
  width: 230px;
}
.image-place {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.label-img-name {
  font-size: 18px;
  text-align: center;
  color: gray;
}
.right-border {
  border-right: 4px solid darkslategrey;
}
.right-about h3 {
  color: #1c7430;
}
.card-footer-height {
  padding: 0.35rem 1.65rem;
}
.card {
  -moz-box-shadow: 0 0 4px #ccc;
  -webkit-box-shadow: 0 0 4px #ccc;
  box-shadow: 0 0 4px #ccc;
}
.card-title {
  color: #0c5460;
  font-weight: bold;
}
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #062c33;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
input[type=submit]:hover {
  background-color: #627073;
}
.container-form {
  border-radius: 5px;
  background-color: lightsteelblue;
  padding: 20px;
}
.span-blog {
  color: darkred;
  margin-left: 4px;
  font-style: italic;
  font-size: 14px;
}
.modal-content {
  width: 600px;
}
/*# sourceMappingURL=main.css.map */