/* ==========================================================================
   Author-VIOREL
   ========================================================================== */

body {
        font-family: 'PT Sans', sans-serif;
}

.body{
        margin-top: 10px;
}

.contianer {

}

ul, li {
        display: block;
        padding: 0;
        margin: 0;
}
/* change nav background color */
.navbar {
        background-color: #062c33;
        height: 35px;
        font-size: 18px;
}

/* change the color of active or hovered links */
.nav-item, .nav-link {
        color: yellow;
}
.nav-item.active .nav-link {
        color: white;
}
.nav-item:focus .nav-link,
.nav-item:hover .nav-link {
        color: white;
}

/* my header style */
.header{
        background-image: url("../assets/img/img_header.png");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 100vh;
}
/* text on header */
.overlay{
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        left: 0;
        top: 0;
        background: rgba(244,244,244,0.60);
}

.description{
        font-size: 24px;
        text-align: justify;
        text-shadow: 2px 1px lightgray;
        width: 900px;
        height: auto;
        padding: 1em;
        position: absolute;
        top:30%;
        margin-left: 140px;
}

.description h1 {
        font-family: Luminari;
        font-size: 54px;
        margin-left: 60px;
}

.footer{
        background-color: #062c33;
        height: 30px;
        line-height: 30px;
}

.copyright{
        font-size: 14px;
        color: white;
        font-weight: bold;
        text-align: center;
        height: 60px;
}